@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

body,html{
    overflow-x: hidden;
}

body,.container{
    margin: 0;
    width: 100%;
    height: 100%;
}
.container,
.header-line,
footer{
    max-width: 1460px;
    margin: 0 auto;
}
.open{
    display: flex !important;
}


.header-line {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 104px;
    margin-top: 9px;
}

.logo {
    height: 63px;
    margin-left: 103px; 
}

.nav {
    display: flex;
}

.nav-item {
    color: #B08EAD;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 23px;
    margin-left: 40px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: rgb(238, 8, 8);
}

.cart{
    margin-left: 50px;
}

.basket {
    margin-right: 130px; 
    height: 20px;
}
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    margin-right: 20px;
   
}
.burger span{
    height: 2px;
    width: 27px;
    transform: scale(1);
    background-color: #B08EAD;
}
.burger::before,.burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #B08EAD;
    transition: all 0.5s ease 0s;
}
.burger::before{
    top: 0;
}
.burger::after{
    bottom: 0;
}

.burger.active span {transform: scale(0);}

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
        @media (max-width: 940px){
            .burger {display: flex;}

            
        .nav {
            display: none;
            flex-direction: column;
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: 50;
            overflow-y: auto;
            padding: 50px 40px;
            background-color: #e8d0e6;
            color: #ffffff;
            animation: burgerAnimation 0.4s;
        }
        .nav-item{
            flex-direction: column;
            row-gap: 25px;
            color: #ffffff;
            font-size:30px;
            margin-top: 30px;
        }
        .cart{
            margin-top: 50px;

        }
        .basket{
            width: 40px;
            height: 40px;
        }
        .burger span{
            color: #ffffff;
        }
        
        }
@keyframes burgerAnimation {
    from{opacity: 0;}
    to{opacity: 1;}
}





.conteinerForAdvertisement {
    position: relative;
    width: 100%;
    height: 765px; 
}

.conteinerForAdvertisement::before,
.conteinerForAdvertisement::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.conteinerForAdvertisement::before {
    top: 0;
    background-color: #C9ADC6;
    height: 65%;
}

.conteinerForAdvertisement::after {
    bottom: 0;
    background-color: #D6BBD3; 
    height: 35%;
}



.container-image-overlay{
    width: 801px;
    height: 675px;
}
.image-overlay {
    margin-bottom: 72px;   
    z-index: 2;
    position: absolute;
    left: 42%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    object-fit: cover;
    width: 801px;
}

.most-over {
    position: absolute;
    left: 77.8%;
    top: 50%; 
    transform: translate(-50%, -50%);
    text-align:start;
    color: #ffffff; 
    z-index: 3;
    background-color: #B08EAD;
    width: 385px;
    height: 424px;
    padding-left: 20px;
    
}

.most-over-text{
    align-items: center;
    margin-top: 110px;
    margin-left: 15px;
}

.second-link {
    text-decoration: none;
    color: #ffffff; 
    font-size: 18px;
    text-decoration:underline;
}

.second-text {
    margin-top: 10px; 
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 45px;
}
.smallNew{
    font-size: 18px;
    
}



.about {
    height: 181px;
    text-align: center;
    margin-top: 75px;
   
    justify-content: center;
    align-items: center;
    height: auto; 
}

.im-designer{
    font-family: 'Roboto', sans-serif;
    color:  #B99BB6;
    font-size: 15px;
    
}
.about-text{
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
    letter-spacing: 38;
    margin: 17px 109px;
   
    
}
.about-button {
    color: #B99BB6;
    background-color: #ffffff;
    width: 141px;
    height: 45px;
    border-radius: 24px;
    border: 1px solid #B99BB6;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}







.card-item{
    background-color: #CEB3CB;
    text-align: start;
    width: 34%;
    padding-bottom: 23px;
    margin-left: 35px;
    box-shadow: 10px 10px 40px 20px #0000001A;
}

.card-items {
    display: flex;
    margin-top: 50px;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1215px; 
    flex-wrap: wrap; 
}

.card-item {
    width: calc(33.33% - 70px); 
    margin-left: 31px;
    margin-right: 31px;

}



.card-text{
    margin-left: 23px;
    margin-top: 23px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
    color: #ffffff;
}
.card-link{
    margin-left: 23px;
    margin-top: 23px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
   
}
.card-btn{
    color: #ffffff;

}

.cards{
    width: 100%;
}






.fone-3{
    width: 100% ;
    height: 772px;
    background-color: #CEB3CB;
    margin-top: 60px;
    position: relative;
}


.sep-over-info{
    width: 440px;
    height: 480px;
    background-color: #B08EAD;
    position: absolute;
    z-index: 2;
    left: 33%;
    top: 46.5%; 
    transform: translate(-50%, -50%);
    text-align:start;
    padding-left: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;

    box-shadow: 10px 10px 40px 20px #0000001A;
  

}
.small-About{
    font-size: 17px;
    color: #ffffff;
   
}
.sep-About-text{
    align-items: center;
   
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 43px;
    color: #ffffff;
}
.sep-card-link{
    text-decoration: none;
    color: #ffffff; 
    font-size: 17px;
    text-decoration: underline;
}



.sep-image-overlay{
    position:absolute;
    width: 540px;
    height: 635px;
    z-index: 3;
    left: 60.7%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    object-fit: cover;
    box-shadow: 240px 140px 140px 120px #0000001A;
}





.more-detailed {
    text-align: center;
    margin: 74px; 
    

}

.detailed-1-border, .detailed-3-border {
  border-bottom: #B08EAD;
}

.detailed-1, .detailed-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    margin-left: 25px;
    margin-bottom: 41px;
}

.detailed-1-info, .detailed-3-info {
    flex: 1;
    text-align: left; 
    
    margin-right: 30px;
}
.info-1-1,.info-3-1{
   color: #B99BB6;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   font-size: 14;
}
.info-1-2, .info-3-2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 25px;
    color: #5F4D5D;
}
.info-1-3, .info-3-3{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 25px;
    color: #5F4D5D;
}


img {
    max-width: 100%;
    
}





.detailed-1-border,.detailed-2-border,.detailed-3-border{
    padding-left: 25px;
    padding-right: 25px;
}

.horizontal-line{
    border: 1px solid #B08EAD; 
    margin: 61px 0;
}

.detailed-1{
    display: flex;
    justify-content: space-between;
}
  .detailed-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 31px;
     
      margin-bottom: 41px;
  }
  
  .detailed-2-info {
      flex: 1;
      text-align: left; 
      margin-left: 80px;

  }

  .info-2-1{
     color: #B99BB6;
     font-family: 'Roboto', sans-serif;
     font-weight: 600;
     font-size: 14;
  }
  .info-2-2, .info-2-3{
      font-family: 'Cormorant Garamond', serif;
      font-weight: 500;
      font-size: 25px;
      color: #5F4D5D;
  }

.button-detailed-2{
    color: #B99BB6;
    background-color: #ffffff;
    width: 141px;
    height: 45px;
    border-radius: 24px;
    border: 1px solid #B99BB6;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
  
}
.sofa-1{
    width: 608px;
    height: 416px;
}




  



.fone-4{
    width: 100% ;
    height: 825px;
    background-color: #CEB3CB;
    margin-top: 76px;
    position: relative;
}


.sep-over-info-2{
    width: 440px;
    height: 450px;
    background-color: #B08EAD;
    position: absolute;
    z-index: 2;
    left: 69%;
    top: 51%; 
    transform: translate(-50%, -50%);
    text-align:start;
    padding-left: 63px;
    flex-direction: column;
    display: flex;
    justify-content: center;

    box-shadow: 10px 10px 40px 20px #0000001A;
}

.sep-image-overlay-2{
    position:absolute;
    z-index: 3;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    object-fit: cover;
    box-shadow: 240px 140px 140px 120px #0000001A;
}




.price-container {
    margin-left: 112px;
    margin-bottom: 125px;
    margin-top: 60px;

    display: flex;
    flex-wrap: wrap;
      
}

.price-box {
    width: calc(33.33% - 20px);
    text-align: center;
    margin-right:  10px;
   
}

.name-price {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 24px;
    color: #5F4D5D;
    margin-top: 20px;
}

.price {
    font-family: 'Roboto', sans-serif;
    color: #CEB3CB;
    font-size: 16px;
    margin-top: 10px;
}








.user-info{
    background-color: #CEB3CB;
    height: auto;
    width: auto;
}
.user-container{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    margin-left: 90px;
}


.contacts{
    margin-top: 30px;
}
.email-title,.phome-namber,.addrese-data{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;

}

.email,.address,.number{
    color: #ffffff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    
}







.feedback{
    width: auto;
    height: 618px;
    margin-left: 100px;
}

.contacts{
    width: 304px;
    height: 418px;
    margin-left: 140px;
    margin-top: 90px;
}

.feedback-title{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 30px;
}
.feedback-explanations{
    color: #ffffff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
}

.person-name,.person-company, .person-phone, .person-email{
    color: #ffffff;
    width: 270px;
    height: 50px;
    margin-bottom: 30px;
    margin-right: 22px;
    background-color: #CEB3CB;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    padding-right: 10px;
    padding-left: 10px;
    
}
.input-container{
    display:block;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
    
}
.input-container input {
    flex: 1; 
    margin-right: 10px; 
}

input::placeholder, textarea::placeholder {
    color: #ffffff; 
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-style: italic;
}



.text-field{
    color: #ffffff;
    width: 580px;
    height: 103px;

    background-color: #CEB3CB;
    border: 1px solid #ffffff;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    padding-right: 10px;
    padding-left: 10px;
    

}





.button-lets-talk{
    color: #ffffff;
    width: 30%;
    height: 50px;
    background-color: #CEB3CB;
    border: 1px solid #ffffff;
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;

    margin-top: 20px ;
    
}




#footer{
    background-color: #C9ADC6;
}
.footer-line-box-1{
    display: flex;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 116px;  
}
.footer-line-box-2{
    padding-left: 25px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 1215px;
}

.footer-conteiner{
    margin-left: 87px;
}
.footer-nav {
    display: flex;
}
.footer-nav-2{
    margin-top: 10px;
}

.footer-nav-item {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 21px;
    margin-left: 40px;
    margin-top: 15px;

    transition: color 0.3s linear;
}
.facebook{
    margin-right: 90px;
}

.footer-nav-item:hover {
    color: rgb(238, 8, 8);

}

.footer-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.link-box{
    margin-right: 25px;
}
.link-f{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

.link-nuv-up{
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    z-index: 5;
    cursor: pointer;
}




@media (max-width: 1240px){
    .sep-over-info-2{
        z-index: 3;
    }
    .sep-image-overlay-2{
        z-index: 2;
    }
    .sofa-1,.sofa-2,.sofa-3{
        width: 370px;
        height: 300px;
        margin: 0;
    }
}



@media (max-width: 1200px) {
    .price-box {
      width: calc(50% - 20px); 
      justify-content: center;
    }
    .detailed-1-info,.detailed-2-info,.detailed-3-info{
        font-size: 16px;
    }
    .header-line{
        justify-content: space-between;
        width: 100%;
    }
    .feedback{
        margin-left: 20px;
     }
}



@media (max-width: 1100px) {
    .card-item {
        width: calc(51% - 70px); 
        margin: 20px 35px; 
    }
    .card-items{
        justify-content: center;
        margin-top: 90px;
    }
    .most-over {
        width: 400px; 
        height: 420px; 
        left: 74%; 
    }
    .container-image-overlay img {
        max-width: 90%; 
    }
    .sofa-1,.sofa-2,.sofa-3{
        width: 230px;
        height: 200px;
        margin: 0;
    }
    
}



@media (max-width: 900px) {
    .price-box {
      width: calc(100% - 20px);
      justify-content: center;
    }
}
@media (max-width: 1050px){
    .contacts{
        margin-left: 30px;
        margin-top: 90px;
    }
}
@media (max-width: 940px) {
    .input-container {
        flex-direction: column;
        align-items: flex-start; 
     
        
    }

    .input-container input {
        width: 50%; 
        margin-right: 0; 
        margin-bottom: 10px;
    }
    .text-field{
        width: 50%;
    }

    
}
@media (max-width: 740px){
    .facebook{
        margin-right: 15px;
    } 
    .feedback,.user-container,.user-info,.contacts{
        margin: 0px;
        padding: 12px;
      }
}

@media (max-width: 650px){
    .footer-nav-2{
        display: none;
    }
    .footer-link{
        flex-direction: column;
        align-items: center;
        margin-left: 130px;
    }
    .link-box{
        margin-top: 10px;
    }
   
  
}

@media (max-width: 550px){
    .feedback,.user-container,.user-info,.contacts{
      margin: 0px;
      padding: 2px;
    }
    .user-container{
        display: block;
    }
    .button-lets-talk {
        height: 40px;
      
    }
    .feedback,.contacts{
        margin-left: 50px;
        width: auto;
    }
}
@media (max-width: 830px){
    .footer-line-box-1,.footer-line-box-2{
        padding-left: 15px;
      
    }
    .footer-conteiner{
        margin: 0%;
    }
    .most-over{
        width: 250px;
        height: 250px;
        left: 73%;
        top: 51%; 
        transform: translate(-70%, -50%);
        }
        .most-over-text{
            width: 100%;
            height: auto;
            margin: 0%;
            align-items: center;
            position: absolute;
            left: 79%;
            top: 51%; 
            transform: translate(-70%, -50%);
        }
        .second-text{
            font-size: 30px;
            margin-top: 10px;
        }
        .second-link{
            font-size: 15px; 
        }
        .smallNew{
            font-size: 15px;
        }
    
    .sep-over-info-2{
            width: 240px;
            height: 250px;
            background-color: #B08EAD;
            position: absolute;
            z-index: 3;
            left: 64%;
            top: 51%; 
            transform: translate(-50%, -50%);
            padding-left: 23px;
          
        
            box-shadow: 10px 10px 40px 20px #0000001A;
        }
        .sep-image-overlay{
            z-index: 2;
            left: 64%;
            top: 50%;
            transform: translate(-64%, -50%);
            
        }
        .sep-over-info{
            width: 230px;
            height: 250px;
            z-index: 3;
            left: 43%;
            top: 80%; 
            transform: translate(-50%, -50%);
           
        }
        .small-About{
            font-size: 15px;
           
        }
        .sep-About-text{
            font-size: 30px;
        }
        .sep-card-link{
            font-size: 15px;
        }
        
    .detailed-1-border,
    .detailed-2-border,
    .detailed-3-border,
    .more-detailed{
        margin:0%;
        padding: 0%;
        }
    
        .detailed-1,
        .detailed-2,
        .detailed-3 {
            flex-direction: column;
        }
    
        .detailed-1-info,
        .detailed-2-info,
        .detailed-3-info {
            margin-left: 0; 
            margin-top: 20px; 
        }
    
        .sofa-1,
        .sofa-2,
        .sofa-3 {
            margin-bottom: 20px;    
            width: 370px;
            height: 300px;
            margin: 0;
            
        }
        .card-item{
            margin: 40px;
            width: auto;
    
        }
}


@media (max-width: 450px){
    .about-text{
        margin: 20px;
    }
    .card-item{
        margin: 40px;
        width: auto;

    }

    .contacts{
        height: auto;
    }
    .price-container{
        margin-left: 20px;
    }


    .sep-image-overlay,.sep-image-overlay-2,.sep-over-info,.sep-over-info-2{
        box-shadow: none;
    }
    .detailed-3{
        padding: 0%;
    }
    .sofa-3,.sofa-2, .sofa-1{
        margin-right: 30px;
    }
    .conteinerForAdvertisement{
        height: 550px;
    }
    .info-1-1,.info-1-2,.info-1-3,
    .info-2-1,.info-2-2,.info-2-3,
    .info-3-1,.info-3-2,.info-3-3,
    .feedback-explanations{
        font-size: 20px;
    }
    .price-box{
        margin: 0%;
    }
    .fone-4{
        height: 550px;
    }
  
}


/* .pixel-perfect-image {
    position: absolute;
    z-index: 60;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
} */